@import url(styles/header.css);
@import url(styles/grid.css);
:root{
    --cor-de-fundo: #b41a1a;
    --branco: #FFFFFF;
    --amarelo:  #FECD2F;
    --roxo-degrade: linear-gradient(94.49deg,  #b43515 35.48%,  #c56618 143.32%);
    --font-secundaria: "Borel";

}
body{
    background-color: var(--cor-de-fundo);
}
